<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style>
		.links {
			list-style-type :  none;
			display: inline-block;
		}
	</style>
</head>
<body>
<form method="POST" action="/create_note">

<label for="title">Title</label><br>
{{form.title}}<br><br>

<label for="title">Description</label><br>
{{form.description}}<br><br>

<label for="title">Category</label><br>
{{form.category}}<br><br>

<label for="title">Country</label><br>
{{form.country}}<br><br>

<label for="title">City</label><br>
{{form.city}}<br><br>

<label for="title">Youtube link</label><br>
{{form.yt_link(class="links")}}

<input type="button" onclick="addInput('yt_link','Youtube Link')" name="yt_link" value="Add" />
<br><br><br>

<label for="title">Facebook link</label><br>
{{form.fb_link(class="links")}}<input type="button" onclick="addInput('fb_link', 'Facebook Link')" name="fb_link" value="Add" /><br><br><br>


<label for="title">Blog link</label><br>
{{form.blog_link(class="links")}}<input type="button" onclick="addInput('blog_link', 'Blog Link')" name="blog_link" value="Add" /><br><br><br>


<label for="title">Instagram link</label><br>
{{form.insta_link(class="links")}}<input type="button" onclick="addInput('insta_link', 'Instagram Link')" name="insta_link" value="Add" /><br><br><br>


<label for="title">Google map</label><br>
{{form.gmap}}<br><br>

<br>


<input type="submit">
</form>
<!-- 
<form name="yt_link">
<input type="button" onclick="addInput()" name="add" value="Add input field" />
</form>
 -->
<script>
    var fields_count = {
    	"yt_link" : 1,
    	"blog_link" : 1,
    	"insta_link" : 1,
    	"fb_link" : 1
    };
    var fields =1;
    function addInput(input_id, input_label) {

        if (fields_count[input_id] <= 10) {
            document.getElementById(input_id).innerHTML += "<li><label for='"+input_id+"-"+fields_count[input_id]+"'>"+input_label+"</label> <input id='"+input_id+"-"+fields_count[input_id]+"' name='"+input_id+"-"+fields_count[input_id]+"' required type='text'></li>";
            fields_count[input_id] += 1;
        } else {
            document.getElementById(input_id).innerHTML += "<br />Only 10 Links allowed.";
            document.form.add.disabled = true;
        }
    }

</script>
</body>
</html>